body {
    background-image: url("./../img/BackgroundVideo.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    height: 150px;
    /* border: 3px solid oldlace; */
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 2%;
    backdrop-filter: blur(10px);

}

.logoImageStyle {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.login-box {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 31%;
    height: 85%;
    text-align: center;
    right: 0;
    padding: 2% 2% 2% 1%;
    margin-right: 10%;
    margin-top: 5%;
    float: right;
    background-color: rgba(29, 29, 28, 0.56);
    backdrop-filter: blur(10px);

}

.box {
    width: 97%;
    padding: 7px;
    opacity: 0.5;
    font-size: 18px;
    margin-top: 5px;
    color: #000000;
}

#submit1 {
    background-color: rgb(0, 119, 255);;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 35%;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(231, 215, 215);
    opacity: 0.8;
    padding: 6px;
    height: 35px;
    width: 100px;
    border-radius: 30px;
}

.login-box-details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}

